<div class="container" style="margin-top: 200px;">
  <div class="d-flex align-items-center justify-content-lg-center vh-100" style="margin-top: -250px;">
    <div class="card shadow-sm p-4" style="width: 20rem;">
      <div class="card-body">
        <h5 class="card-title text-center mb-4">Recuperación de Contraseña</h5>
        <form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()">
          <div class="form-group mb-3">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" formControlName="email" required autocomplete="email">
            <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="text-danger">
              <div *ngIf="email?.errors?.['required']">El correo electrónico es obligatorio.</div>
              <div *ngIf="email?.errors?.['email']">El correo electrónico no es válido.</div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary w-100" [disabled]="passwordResetForm.invalid">Enviar</button>
        </form>
        <div *ngIf="userNotFound" class="alert alert-danger mt-3">
          El correo electrónico no existe en nuestros registros.
        </div>
        <div *ngIf="emailSent" class="alert alert-success mt-3">
          El mensaje ha sido enviado. Revise su bandeja de entrada.
        </div>
      </div>
    </div>
  </div>
</div>
